
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: 0;
}

h1 {
	font-weight: bold;
	margin: 10px;
}


p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid #624f9f;
	background-color: #624f9f;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}


#btn-sigup{
	margin-top: 5px;
	padding: 10px;
	display: none;
}
#btn-sigup:hover{
	cursor: pointer;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.container-content{
	display: flex;
}


.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}



.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}
.form-group {
	width:100%;
	display: flex;
	flex-direction: column;
}
.form-control {
	outline: none;
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
	outline: none;
	border-radius: 3px;
}

.form-message {
	font-size: 12px;
	padding: 4px 0 0;
	text-align: start;
}
.form-group.invalid .form-control {
	border-color: #f33a58;
}

.form-group.invalid .form-message {
	color: #f33a58;
}



@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}



.overlay {
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #624f9f, #FF416C);
	background: linear-gradient(to right, #624f9f, #FF416C);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}



.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}



.overlay-right {
	right: 0;
	transform: translateX(0);
}

.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

.right-panel-active .overlay {
	transform: translateX(50%);
}

.right-panel-active .overlay-container {
	transform: translateX(-100%);
}

.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.right-panel-active .overlay-left {
	transform: translateX(0);
}

.right-panel-active .overlay-right {
	transform: translateX(20%);
}

/*@media only screen and (min-width: 740px)
{
	
}*/

/* Mobile */
@media only screen and (max-width: 740px)
{
	body{
		height: unset;
		margin: 0;
	}
	#btn-sigup{
		display: block;
	}
	.container{
		overflow: unset;
		position: unset;
		min-width: unset;
	}
	.container-content{
		flex-direction: column-reverse;
	}
	.form-container{
		position: unset;
	}
	.sign-in-container{
		width: 100%;
		height: 100vh;
	}
	.sign-up-container{
		width: 100%;
		opacity: 1;
		height: 100vh;
	}
	.overlay-container{
		height: 100vh;
		width: 100%;
		left: 0;
		transform: translateY(100%);
	}
	.overlay{
		
		height: 100vh;

	}
	.overlay-left{
		transform: translateX(0);
	}
	.form-container form{
		padding: 0 18%;
	}
	.right-panel-active .overlay-container{
		transform: translateY(0);
		left: 0;
	}
	.right-panel-active .overlay{
		transform: translateY(0);
		left: 0;
	}
	
}

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
  }
  html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
  }
  html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .15);
  }
  html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .15);
  }
  html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
  }
  html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
  }
