body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f3f8;
}

.content {
    width: 600px;
    height: 400px;
    background-color: #fff;
}


.content-message {
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .content-message a {
        text-decoration: none;
        font-size: 16px;
        margin-top: 10px;
        color: #455056;
    }
    .content-message h1 {
        font-size: 28px;
        width: 90%;
        color: #455056;
        text-align: center;
    }

    .content-message p {
        width: 90%;
        color: #455056;
        font-size: 15px;
        line-height: 24px;
        margin: 0;
        text-align: center;
    }

    .content-message button {
        background: #624f9f;
        border: none;
        text-decoration: none !important;
        font-weight: 500;
        margin-top: 10px;
        color: #fff;
        text-transform: uppercase;
        font-size: 14px;
        padding: 10px 24px;
        display: inline-block;
        border-radius: 50px;
    }
        .content-message button:hover {
            background: #624f7f;
        }

    .content-message input {
        margin-top: 20px;
        display: block;
        padding: 6px 12px;
        font-size: 14px;
        color: #555;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .content-message input:focus {
        outline: solid;
        outline-width: 1px;
        outline-color: #4d96ff;
    }


.content-message-error, .content-message-success {
    margin-top: 10px;
    text-align: center;
    width: 85%
}
.content-message-error {
    color: red;
}
.content-message-success {
    color: green;
}