
:root{
    --text-color: rgb(74, 72, 72);
    --background-color: rgb(246 246 246);
}
.Content {
    height: fit-content;
    box-sizing: border-box;
}

.seccond_content {
    display: flex;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    padding: 64px 20px;
    box-sizing: border-box;
}

.seccond_content>h1 {
    max-width: 524px;
    color: var(--text-color);
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
    text-align: center;
}

.seccond_content_logoList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    color: var(--text-color);
}

.seccond_content_item {
    text-align: center;
}

.seccond_content_item>h3 {
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    color: var(--text-color);
}

.seccond_content_discription {
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    width: 290px;
}


.three_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    padding: 30px 100px;
    box-sizing: border-box;

}

.three_content>h1 {
    font-size: 40px;
    max-width: 474px;
    font-weight: 600;
    text-align: center;
    color: var(--text-color);
}

.three_content_main {
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    display: inline-flex;
}
.three_content_main > img{
    max-width: 889px;
    max-height: 618px;
}

.three_content_list_info {
    display: flex;
    height:400px;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
}

.three_content_list_info>li {
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
}

.three_content_list_info>li>p {
    margin-left: 20px;
    font-weight: 500;
    font-size: 20px;
    color: var(--text-color);
}

.four_content {
    background-color: var(--background-color);
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 120px;
    box-sizing: border-box;
}
.option_language{
    padding-left: 10px;
    box-sizing: border-box;
}

.code_editor{
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 755px;
    padding: 10px 0px;
    border-radius: 4px;
    height: 500px;
    box-sizing: border-box;
}
.frameCode{
    margin-top: 10px;
    display: inline-flex;
    height: 500px;
    outline: 1px solid white;
}
.code_output{
    width: 50%;
    color: white;
    font-size: 19px;
    padding: 0px 10px;
    box-sizing: border-box;
}
.code{
    width: 50%;
}

.selectpicker{
    border-radius: 4px;
    outline: none;
}
.run_code{
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 4px;
    background-color: yellow;
    font-weight: 600;
    border-style: none;
    width: 80px;
    height: 40px;
    cursor: pointer;
}

.run_code:hover{
    background-color: rgb(245, 245, 104);
    font-size: 17px;
}


.four_content_discription {
    margin-left: 30px;
}

.four_content_discription>h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 59px;
    max-width: 586px;
    color: var(--text-color);
}

.four_content_discription>p {
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    max-width: 488px;
    line-height: 35px;
    color: var(--text-color);
}


/* Tablet */
@media only screen  and (max-width: 1024px)
{
    .Content h1{
        font-size: 40px;
        text-align: center;
    }
    .Content p{
        font-size: 22px;
        text-align: center;
    }
    .seccond_content_logoList{
        flex-wrap: wrap;
    }
    .seccond_content_item{
        flex-basis: 100%;
    }
    .seccond_content_discription{
        width: 100%;
        text-align: center;
    }
    .four_content{
        flex-direction: column;
    }
    .four_content_discription{
        margin: 0;
    }
    .code_editor{
        width: 90%;
        height:unset;
    }
    .three_content{
        padding:unset;
    }
    .four_content{
        padding:unset;
    }
    .three_content_list_info{
        height: unset;
        padding: 0;
    }
    .three_content_main{
        display: flex;
        flex-direction: column;
    }
    .three_content_main img{
        width: 90%;
    }
    .three_content_main li img{
        width: 45px;
    }
    .three_content_main li p{
        font-size: 25px;
    }
    
}
/* Mobile */
@media only screen and (max-width: 740px)
{
    .Content h1{
        font-size: 30px;
    }
    .Content h3{
        font-size: 27px;
    }
    .Content p{
        font-size: 16px;
    }
    .three_content_main li img{
        width: 30px;
    }
    .three_content_main li p{
        font-size: 16px;
    }
}